:root {
  font-family: "DM Sans", Arial, sans-serif;
  color: #172521;
  background: #f5f7f4;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.shell {
  display: flex;
  min-height: 100vh;
}

main {
  max-width: 1190px;
  width: 100%;
  margin: auto;
  padding: 47px 65px 22px;
}
